config campus-auth 'config'
	option enabled '1'
	option mode 'normal'
	option protocol 'gportal'
	option username ''
	option password ''
	option interface ''
	option auth_host '192.168.99.2'
	option nas_name 'GKDX'
	option aes_key '1234567887654321'
	option check_url 'http://connectivitycheck.platform.hicloud.com/generate_204'
	option interval '60'
